[Unit]
Description=Mailbox synchronization service
After=network.target network-online.target dbus.socket

[Service]
Type=oneshot
ExecStart=/home/janis/.local/bin/mbsync-hooks -Va
TimeoutStartSec=180
Environment="GNUPGHOME=/home/janis/.local/share/gnupg"
